{% extends '::base.html.twig' %}
{% block container %}
    <div class="panel ">
        Musician Profiles:
        {% embed'ZEBABundle::item_container.html.twig' with { 'pagination': musician_profiles, 'entity_type' : 'musician','is_edit' : true} %}
            {% block navigaion %}

            {% endblock navigaion %}
        {% endembed %}
        <p>
        <div>
            <a href="{{ path('musician_new') }}" class="btn btn-primary">Create New Musician Profile</a>
        </div>
        </p>
    </div>
    <div class="panel ">
        Bands Owned:
        {% embed'ZEBABundle::item_container.html.twig' with { 'pagination': bands_owned, 'entity_type' : 'band', 'is_edit' : true} %}
            {% block navigaion %}

            {% endblock navigaion %}
        {% endembed %}
        <div>
            <a href="{{ path('band_new') }}" class="btn btn-primary">Create New Band Profile</a>
        </div>
        </p>
    </div>
{% endblock container%}
