{% extends '::base.html.twig' %}
{% block body %}
    {% block pre_container %}
        {% block login_js %}

            <script type="application/javascript">

                $(document).ready(function(){
                    $('#btn_modal_login').click();
                });
            </script>
        {% endblock login_js %}
        <div class="{% block container_class %}container{% endblock container_class %}">
            {% block modal_dialog %}
                <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content"> </div>
                    </div>
                </div>

            {% endblock modal_dialog %}
            {% block container %}
                <div class="{% block content_class %}content{% endblock content_class %}"></div>
            {% endblock container %}
        </div>
    {% endblock pre_container %}
    {% block fos_user_content %}


        {% block navbar %}

            <div id="navbar" class="navbar navbar-default" role="navigation">
                <div class="navbar-inner">
                    {{ knp_menu_render('ZEBABundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'ZEBABundle:Menu:main_menu.html.twig'}) }}
                    {{ knp_menu_render('ZEBABundle:MenuBuilder:userMenu', {'currentClass': 'active', 'template': 'ZEBABundle:Menu:main_menu.html.twig'}) }}
                </div>
            </div>
            <div id="message_bar"></div>

        {% endblock navbar %}

    {% endblock fos_user_content %}

    {% block body_end %} {% endblock body_end %}
{% endblock body %}




