{% extends '::base.html.twig' %}
{% block container %}
    <div class="panel">
        <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>

        {% if bands is defined%}
        <h4>Bands Searching For Musicians:</h4>
        {% embed'ZEBABundle::item_container.html.twig' with { 'pagination': bands, 'entity_type' : 'band', 'is_edit' : false} %}
            {% block navigaion %}

            {% endblock navigaion %}
        {% endembed %}
        {% endif %}
    </div>
{% endblock container%}
