
{% block genres_container %}
    {% if entity.genres is defined %}
        <div class="text-left ">Genres:
                {% for genre in entity.genres %}
                    {% set genre_folder = 'img/genres/' ~ genre.slug ~ '.jpg' %}
                    <span class="genre" >{{ genre.name }}
                        <img src="{{  genre_folder | imagine_filter('thumb') }}" />
                    </span>
                {% endfor %}
        </div>
    {% endif %}
{% endblock genres_container%}