{% block request_audition_button %}
    <p>
    <div>
        <button data-href="{{ path('api_joinBandRequestAction', {'bandId': bandId, 'musicianId':musicianId} ) }}"
                type="button" class="btn btn-primary">Request Audition To Join Band
        </button>
    </div>
    </p>
{% endblock request_audition_button %}