{% extends '::base.html.twig' %}
{% block container %}
    <table id="messages" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Msg #</th>
            <th>Sent</th>
            <th>Message</th>           
        </tr>
                
        </thead>

    </table>
    <script type="application/javascript">

    </script>
{% endblock container %}
