{% extends '::base.html.twig' %}
{% block container %}
    <div class="panel ">
        Musician Profiles:
        {% embed'ZEBABundle::item_container.html.twig' with { 'pagination': musician_profiles, 'entity_type' : 'musician','is_edit' : true} %}
            {% block navigaion %}

            {% endblock navigaion %}
        {% endembed %}
    </div>
    <div class="panel ">
        Bands Owned:
        {% embed'ZEBABundle::item_container.html.twig' with { 'pagination': bands_owned, 'entity_type' : 'band', 'is_edit' : true} %}
            {% block navigaion %}

            {% endblock navigaion %}
        {% endembed %}
    </div>
{% endblock container%}
