{% extends '::base.html.twig' %}
{% block container %}
    <table id="messages" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Msg #</th>
            <th>Sent</th>
            <th>Message</th>           
        </tr>
                
        </thead>
        {% for msg in messages %}
            <tr  data-id="{{ msg.msgId }}">
                <td>{{ msg.counter }}</td>
                <td>{{ msg.sent }}</td>
                <td>{{ msg.message|raw }}</td>
            </tr>
        {% endfor %}
    </table>
    <script type="application/javascript">
        $(document).ready(function() {
           var messagesTable = $('#messages').dataTable({
                dom: 'T<"clear">lfrtip',
                tableTools: {
                    "sRowSelect": "multi",
                    "aButtons": [
                        "select_all",
                        "select_none",
                        {"sExtends":    "select","sButtonText": "Delete Selected Messages",
                        "fnClick": function (nButton, oConfig, oFlash) {
                            messagesTable.find('.selected').each( function( index ) {
                                bootbox.confirm("Are you sure?", function(result) {
                                    console.log("Confirm result: "+result);
                                });
                                return false;
                                console.log( index + ": " + $( this ).attr('data-id') );
                            });
                        }

                    } ] } }
        );
        } );
    </script>
{% endblock container %}
