{% extends '::base.html.twig' %}
{% block container %}
    <table id="messages" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Msg #</th>
            <th>Sent</th>
            <th>Message</th>           
        </tr>
                
        </thead>
        {% for msg in messages %}
            <tr>
                <td>{{ msg.counter }}</td>
                <td>{{ msg.sent }}</td>
                <td>{{ msg.message|raw }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock container %}
